* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* header */

nav {
    background-color: rgb(37, 94, 233);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.logo {
    flex-grow: 1;
}

.menu {
    flex-grow: 3;
}

.login {
    flex-grow: 1;
    text-align: right;
}

.btn {
    border-radius: 50px;
    border-style: none;
    padding: 10px 20px;
}

.buttons {
    padding: 20px;
}

.btn-big {
    font-size: 20px;
}

.btn-bl {
    background-color: #23272a;
    color: white;
}

.container-a .btn {
    margin: 0 10px;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.jumbotron {
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 30px;
}

.container-a {
    width: 770px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 120px;
    margin-bottom: 70px;
}

.description {
    line-height: 30px;
}


.title h1 {
    font-size: 50px;
}

.container-a .title {
    padding: 20px;
}

.description p {
    font-size: 20px;
}

/* main */

.sct {
    /* width: 80%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.container-b {
    width: 60%;
}

.wave {
    display: block;
    height: 100px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/wave.svg);
}

.wave-bot {
    display: block;
    transform: rotateX(180deg);
    height: 100px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/wave.svg);
}


.container-c {
    width: 40%;
    text-align: left;
    padding: 0 35px;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.container-c .title-2 h1 {
    font-size: 50px;
    margin-top: 30px;
}

.container-c .description p {
    margin-top: 20px;
}

.sct-bgn {
    background-color: #F5F5F5;
    padding: 150px 0;
}

.sct-bg {
    /* width: 80%; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    margin: 150px 0;
}

.container-d {
    width: 80%;
    text-align: center;
    
}

.container-d .title-3 h1 {
    font-size: 50px;
    margin-top: 30px;
}

.container-d .description p {
    margin-top: 20px;
}

.container-d img {
    width: 100%
}

.container-d .description {
    padding: 0 100px;
}

.caption {
    padding: 30px;
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:top;
    font-size: 30px;
}

.btn-lilla {
    background-color: #7289da;
    color: white;
}

/* footer */

.sct-f {
    /* width: 80%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    /* margin: 150px 0; */
    background-color: #23272a;
    padding-top: 20px;
    
}

.container-e {
    width: 20%;
    line-height: 40px;
    color: white;
}

.container-e h1 {
    font-size: 30px;
}

.sct-f h1 {
    color: #7289da;
}

.flag {
    width: 20px;
}

.language {
    display: inline-block;
    color: white;
}

.fa-brands {
    padding-right: 10px;
}

.container-f {
    display: flex;
    width: 80%;
    padding-bottom: 20px;
}

.container-g , .container-h , .container-i , .container-l {
    height: 100%;
    width: calc(100% / 4);
}

.container-f ul {
    display: block;
    padding-left: 20px;
    line-height: 40px;
    font-weight: 600;
}

.container-f ul li {
    color: white;
}

.container-f ul li:first-child {
    color: #7289da;
}

.sct-f .container {
    border-bottom: 1px solid white;
}

.container-f {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logo-f {
    align-self: center;
}

.container-f .btn {
    font-size: 15px;
}



